@import "./media/media";

@import "./components/buttons";

@import "./pages/watch";

@import "./additional/additional";

@import "./grids/grids";

* {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 20px 10px;
}

/* Menu styles */

.menu {
  background-color: rgb(85, 165, 140);
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

.menu-items-container {
  display: flex;
  justify-content: right;
  width: 100%;
}

.menuList {
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding-inline-start: 0px;
  align-items: center;
}

.menu-item {
  list-style-type: none;
  padding: 15px;
  background-color: rgb(0, 172, 172);
  border-radius: 10px;
  border: 3px solid black;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: rgb(50, 50, 255);
  padding: 17px;
}

.menuItemLink {
  text-decoration: none;
  color: rgb(38, 75, 64);
}

/* Header */

.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  margin-top: 10px;
  font-size: 36px;
}

/* Description block */

.containerDescription {
  display: flex;
  margin-top: 10px;
}

.infoImage {
  border: 6px solid black;
  border-radius: 10px;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 120px;
  background-color: rgb(255, 180, 90);
  width: 400px;
  border-radius: 10px;
  border: 6px solid black;
  padding: 10px;
}

.mainHeaderInfo {
  text-align: center;
}

.mainInfo {
  text-align: center;
}

.moreInfo {
  text-align: center;
  padding: 15px;
  background-color: rgb(103, 205, 171);
  border-radius: 100px;
  border: 3px solid black;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  font-weight: 600;
  color: rgb(140, 100, 50);
  transition: 0.3s;
}

.moreInfo:hover {
  background-color: rgb(80, 156, 131);
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.6);
}

.nameList {
  list-style: none;
  display: grid;
}

.nameHeader {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

.infoLink {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 30px;
  background-color: rgba(0, 175, 0, 0.9);
  border-radius: 100px;
  border: 4px solid black;
  transition: 0.3s;
}

.errorLink {
  color: firebrick;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 30px;
  background-color: rgba(0, 175, 0, 0.9);
  border-radius: 100px;
  border: 4px solid black;
  transition: 0.3s;
}

.infoLink:hover {
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.6);
  background-color: rgba(0, 140, 0, 0.9);
}

.errorLink:hover {
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.6);
  background-color: rgba(0, 140, 0, 0.9);
}

.containerName {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFooter {
  margin-top: 75px;
  background-color: black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  padding: 15px;
}

.footerText {
  color: #fff;
  width: 1fr;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.footerContacts {
  color: #fff;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerContacts {
  display: flex;
  align-items: center;
}

.contactsImage {
  margin-right: 10px;
}

#themeToggle {
  background-color: transparent;
  border: none;
}

.menu-item-toggle {
  background-color: rgb(0, 100, 100);
}
